{% extends 'base.html' %} 
{% block title %}Modificar Pregunta{% endblock %} 

{% block content %}

<h2 class="major">Editar Pregunta</h2>
<section>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Guardar cambios</button>
</form>
<a class="button" href="{% url 'listarPreguntas' %}">Volver</a>
</section>

<style>
    section {
        margin: 0 auto;
        width: 50%;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        margin-bottom: 1rem;
    }
    button {
        margin-top: 1rem;
    }
</style>

{% endblock %}