{% extends 'base.html' %}

{% block title %}Respuestas Del Usuario{% endblock %}

{% block content %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <span class="fas fa-question"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Respuestas del Usuario</h1>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'datosPerfil' %}">Datos Del Perfil</a></li>
                <li><a href="{% url 'datosPreguntas' %}">Datos de Preguntas</a></li>
                <li><a href="{% url 'datosTextoPreguntas' %}">Preguntas a Especialistas</a></li>
            </ul>
        </nav>
        <form action="{% url 'descargar_excel' %}" method="post">
            {% csrf_token %}
            <button type="submit">Descargar como Excel</button>
        </form>
        <button type="button" onclick="location.href='{% url 'home' %}'">Volver</button>
    </header>


    	<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; Untitled.</p>
	</footer>

</div>

<!-- BG -->
<div id="bg"></div>
{% endblock %}
</body>
</html>
